.modal {
  position: fixed;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.464);
  z-index: 24;
  top: 0;
  left: 0;

  .modal_container {
    z-index: 2;
    position: relative;
    background: #fff;
    width: 500px;
    height: 500px;
    padding: 30px;
    margin: auto auto;
    border-radius: 10px;
    .modal_close {
      // fill: #fff;
      display: grid;
      place-content: flex-end;
    }
    > h1 {
      text-align: center;
    }
    .modal_flex {
      display: flex;
    }
  }
}
.modal {
  .modal_overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .modal__container {
    position: relative;
    z-index: 2;
    padding: 20px;
    width: 100%;
    max-width: 750px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: FadeUp 150ms linear forwards;
    .close {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    @keyframes FadeUp {
      0% {
        opacity: 0;
        transform: scale(0.7);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    .modal__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .modal__content-title {
        width: 80%;
        margin-left: 10px;
        h1 {
          font-size: 16px;
          // text-align: center;
          margin-bottom: 10px;
        }
       
      }
      .modal__content-img {
        width: 100px;
        height: 100px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    hr {
      margin: 10px 0;
      background: rgba(255, 0, 0, 0.041);
      border-bottom: 1px solid black;
    }
    .modal_desc {
      p {
        font-size: 18px;
        line-height: 1.3;
      }
    }
    .modal_video {
      width: 100%;
      height: 300px;
      margin-top: 20px;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
